<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Health Center</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form_main">
                    <h4 class="heading"><strong>Add </strong> Test <span></span></h4>
                    <div class="form">
                        <form #testForm="ngForm" (ngSubmit)="addTest(testForm)" name="testForm">
                            <input type="text" #testName="ngModel" ngModel id="testName" name="testName"
                                class="form-control" placeholder="Please Enter the test name" class="txt">

                            <textarea placeholder="Test Description" type="text" class="txt_3"></textarea>
                            <input type="submit" [disabled]="testForm.invalid" value="submit" name="submit"
                                class="txt2">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>